[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "hawkesbow"]
	path = hawkesbow
	url = https://github.com/fcheysson/hawkesbow
[submodule "starma"]
	path = starma
	url = https://github.com/fcheysson/starma
